.textfieldtheme {
	-fx-background-color: #FFFFFF;
	-fx-text-fill: black;
	-fx-font-size: 24;
}
.hboxtheme {
	-fx-spacing: 10px;
}

.vboxtheme {
	-fx-spacing: 5px;	
	}
.labeltheme {
	-fx-background-color: #FFFFFF;
	}
.myroottheme {
	-fx-spacing: 10px;
	-fx-padding: 50px; 	
	-fx-background-color: #b2e6fd;
	}
.titletheme {
	-fx-text-fill: black;
	-fx-font-size: 30;
	-fx-text-align: center;
	-fx-font-family: "Times New Roman", Times, serif;
}